<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="xsystems-gcp-bucket">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: row;
      }

      #form {
        width: 100%;
        height: 100%;
        border: none;
      }

      ul {
        padding-left: 3vh;
      }

      a {
        color: var(--primary-color, inherit);
      }

      a:not(:hover) {
        text-decoration: none;
      }
    </style>

    <ul>
      <template is="dom-repeat" items="[[items]]" filter="_isFile" sort="_sort">
        <li>
          <a href="[[_computeFileUrl(bucket, item.name)]]" target="_blank">[[_computeFileName(item.name)]]</a>
        </li>
      </template>
    </ul>

  </template>
  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'xsystems-gcp-bucket',
        properties: {
          bucket: String,
          prefix: String,
          delimeter: {
            type: String,
            value: '/'
          },
          desc: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          items: Array,
          _url: URL
        },

        observers: [
          '_computeUrl(bucket)',
          '_computeUrl(bucket, prefix)',
          '_computeUrl(bucket, prefix, delimeter)',
          '_handleUrl(_url)'
        ],

        _computeUrl: function(bucket, prefix, delimeter) {
          var url = new URL(bucket + '/o', 'https://www.googleapis.com/storage/v1/b/');

          var searchParams = url.searchParams;

          if (prefix) {
            searchParams.set('prefix', prefix);
          }

          if (delimeter) {
            searchParams.set('delimeter', delimeter);
          }

          this._url = url;
        },

        _handleUrl: function(url) {
          this.debounce('bucket-list', function() {
            fetch(url)
              .then(function(response) {
                return response.json();
              }).then(function(json) {
                this.items = json.items;
              }.bind(this)).catch(function(error) {
                console.error(error);
              });
          }.bind(this), 300);
        },

        _isFile: function(item) {
          return !item.name.endsWith('/');
        },

        _computeFileName: function(name) {
          if (this.prefix) {
            var regex = new RegExp('^' + this.prefix);
            return name.replace(regex, '');
          } else {
            return name;
          }
        },

        _computeFileUrl: function(bucket, name) {
          return 'https://storage.googleapis.com/' + bucket + '/' + name;
        },

        _sort: function(item1, item2) {
          if (item1.name === item2.name) {
            return 0;
          } else if (this.desc != (item1.name > item2.name)) {
            return 1;
          } else {
            return -1;
          }
        }
      });
    })();
  </script>
</dom-module>
